<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
  <add name="MyBD" connectionString="Data Source=ASUS-H95TKI5\SQLEXPRESS;Initial Catalog=neptuno;User ID=sa;Password=esea" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <webServices>
      		<protocols>
        		<add name="HttpGet"/>
        		<add name="HttpPost"/>
      		</protocols>
    	</webServices>
    </system.web>

</configuration>
